@import url("https://pagecdn.io/lib/easyfonts/barlow.css");

html, body {
    overflow-x: hidden;
}
body {
    position: relative;
    width: 100%;
}

.custom-card-meta .ant-card-meta-detail > .ant-card-meta-title {
    white-space: normal;
    text-overflow: ellipsis;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    overflow: scroll;
}
