@import url("https://pagecdn.io/lib/easyfonts/barlow.css");


body {
    position: relative;
    width: 100%;
}

.custom-card-meta .ant-card-meta-detail > .ant-card-meta-title {
    white-space: normal;
    text-overflow: ellipsis;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    overflow: scroll;
}

div.ant-list-pagination {
    text-align: center;
}
img.ant-image-img {
    width: initial;
}
/* Clouds drifting */

/* Firefox */
@-moz-keyframes cloudDrift {
    from {
        -moz-transform: translateX(-1161px);
    }
    to {
        -moz-transform: translateX(calc(100vw + 1600px));
    }
}
/* WebKit - Chrome and Safari */
@-webkit-keyframes cloudDrift {
    from {
        -webkit-transform: translateX(-1161px);
    }
    to {
        -webkit-transform: translateX(calc(100vw + 1600px));
    }
}
/* Opera */
@-o-keyframes cloudDrift {
    from {
        -o-transform: translateX(-1161px);
    }
    to {
        -o-transform: translateX(calc(100vw + 1600px));
    }
}
/* general syntax */
@keyframes cloudDrift {
    from {
        transform: translateX(-1161px);
    }
    to {
        transform: translateX(calc(100vw + 1600px));
    }
}

.cloud {
    position: absolute;
    z-index: 2;
    /* Firefox */
    -moz-animation: cloudDrift linear infinite;
    /* WebKit - Chrome and Safari */
    -webkit-animation: cloudDrift linear infinite;
    /* Opera */
    -o-animation: cloudDrift linear infinite;
    /* general syntax */
    animation: cloudDrift linear infinite;
}

.cloudOnce {
    position: absolute;
    z-index: 2;
    /* Firefox */
    -moz-animation: cloudDrift linear;
    /* WebKit - Chrome and Safari */
    -webkit-animation: cloudDrift linear;
    /* Opera */
    -o-animation: cloudDrift linear;
    /* general syntax */
    animation: cloudDrift linear;
    /*width 70px*/
    top: -120px;
    left: 50vw;
    /* Firefox */
    -moz-animation-duration: 120s;
    /* WebKit - Chrome and Safari */
    -webkit-animation-duration: 120s;
    /* Opera */
    -o-animation-duration: 120s;
    /* general syntax */
    animation-duration: 120s;
    animation-fill-mode: forwards;
}

.sml {
    /*width 70px*/
    top: -120px;
    left: 0px;
    /* Firefox */
    -moz-animation-duration: 60s;
    /* WebKit - Chrome and Safari */
    -webkit-animation-duration: 60s;
    /* Opera */
    -o-animation-duration: 60s;
    /* general syntax */
    animation-duration: 60s;
}

.med {
    /*width 100px*/
    top: -60px;
    left: 0px;
    /* Firefox */
    -moz-animation-duration: 85s;
    /* WebKit - Chrome and Safari */
    -webkit-animation-duration: 85s;
    /* Opera */
    -o-animation-duration: 85s;
    /* general syntax */
    animation-duration: 85s;
}
.lrg {
    /*width 130px*/
    top: 40px;
    left: 0px;
    /* Firefox */
    -moz-animation-duration: 100s;
    /* WebKit - Chrome and Safari */
    -webkit-animation-duration: 100s;
    /* Opera */
    -o-animation-duration: 100s;
    /* general syntax */
    animation-duration: 100s;
}